
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> php-cs-fixer/shim ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< php-cs-fixer/shim ###

# Ignore IDE-specific files
/.vscode/
/.idea/

# Ignore log files
/logs/
/var/log/

# Ignore cache files
/cache/
/var/cache/

# Ignore build artifacts
/build/
/dist/